node_modules
example*/ios/Pods
/lib
*.bundle
*.tgz
local.properties
.idea
*.DS_STORE
xcuserdata
coverage
/android/build
*.iml
Pods/
test/app.js
maze_output
scenario.json
android/local.properties
android/android.iml
test/tmp
